In [1]:
import pandas as pd
import numpy as np

In [3]:
car_eval = pd.read_csv('car_eval_dataset.csv')
car_eval.head()

,buying_cost,maintenance_cost,doors,capacity,luggage,safety,acceptability,manufacturer_country
0,vhigh,low,4,4,small,med,unacc,China
1,vhigh,med,3,4,small,high,acc,France
2,med,high,3,2,med,high,unacc,United States
3,low,med,4,more,big,low,unacc,United States
4,low,high,2,more,med,high,acc,South Korea

manufacturer_country is a nominal categorical variable that indicates the country of the manufacturer of each car reviewed. Create a table of frequencies of all the cars reviewed by manufacturer_country. What is the modal category? 
Which country appears 4th most frequently? 
Print out your results.

In [8]:
manufacturer_country_freq= car_eval['manufacturer_country'].value_counts()
manufacturer_country_freq
manufacturer_country_freq.index[4-1]

'United States'

Calculate a table of proportions for countries that appear in manufacturer_country in the dataset.
What percentage of cars were manufactured in Japan?

In [11]:
manufacturer_country_prop= car_eval['manufacturer_country'].value_counts(normalize= True)
manufacturer_country_prop

Japan            0.228
Germany          0.218
South Korea      0.159
United States    0.138
Italy            0.097
France           0.087
China            0.073
Name: manufacturer_country, dtype: float64

buying_cost is a categorical variable which describes the cost of buying any car in the dataset. 
Print out a list of the possible values for this variable.

In [13]:
buying_cost_values= car_eval['buying_cost'].unique()
buying_cost_values

array(['vhigh', 'med', 'low', 'high'], dtype=object)

buying_cost is an ordinal categorical variable, which means we can create an order associated with the values in the data and perform additional numeric operations on the variable. Create a new list, buying_cost_categories, that contains the unique values in buying_cost,
ordered from lowest to highest.

In [17]:
buying_cost_categories=  car_eval['buying_cost'].unique()
order= ['low', 'med', 'high', 'vhigh']




sorted_list = sorted(buying_cost_categories, key=lambda x: order.index(x))
print(sorted_list)

['low', 'med', 'high', 'vhigh']

 Convert buying_cost to type 'category' using the list you created in the previous exercise.

In [22]:
car_eval["buying_cost"] = pd.Categorical(
    car_eval["buying_cost"],
    buying_cost_categories,
    ordered=True
)
car_eval.dtypes

buying_cost             category
maintenance_cost          object
doors                     object
capacity                  object
luggage                   object
safety                    object
acceptability             object
manufacturer_country      object
dtype: object

Calculate the median category of the buying_cost variable and print the result.

In [25]:
buying_cost_median= np.median(car_eval['buying_cost'].cat.codes)
buying_cost_median

1.0

In [26]:
median_category = sorted_list[int(buying_cost_median)]
print(median_category)

med

luggage is a categorical variable in the car evaluations dataset that records the luggage capacity
for each reviewed car.
Calculate a table of proportions for this variable and print the result.

In [28]:
luggage_prop= car_eval['luggage'].value_counts(normalize= True)
luggage_prop

small    0.339
med      0.333
big      0.328
Name: luggage, dtype: float64

Are there any missing values in this column? Replicate the table of proportions from the previous exercise, but do not drop any missing values from the count. 
Print your result.

In [29]:
luggage_prop= car_eval['luggage'].value_counts(normalize= True, dropna= False)
luggage_prop

small    0.339
med      0.333
big      0.328
Name: luggage, dtype: float64

In [30]:
car_eval["luggage"].value_counts()/len(car_eval["luggage"])

small    0.339
med      0.333
big      0.328
Name: luggage, dtype: float64

In [31]:
#so we dont have any missing values in our dataset as the results are the same.

doors is a categorical variable in the car evaluations dataset that records the count of doors for each reviewed car. Find the count of cars that have 5 or more doors. You can identify cars with 5+ doors by looking for cars that have a value of '5more' in the doors column. 
Print your result.

In [37]:
car_door_count= car_eval['doors'].value_counts()
car_door_count
Fivedoor_car=(car_eval['doors']== '5more').sum()
Fivedoor_car

246

Find the proportion of cars that have 5+ doors and print the result.

In [42]:
proportion = (car_eval["doors"] == '5more').mean()
proportion

0.246